<h1>Create a Post</h1>
<div class="container">
  <%= form_for @post do |f| %>

    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title , class: "form-control" %>
    </div>
    </br>
    <div class="form-group">
      <%= f.label :body %>
      <%= f.text_area :body , class: "form-control"%>
    </div>
    </br>
    <div>
     <%= f.submit "Create Post" , class: "btn btn-default" %>
    </div>
  <% end %>
</div>

